<div class="centro well">
	<% if @buscar %>		
		<%= @respuesta %> 1
	<% else %>
		<h2>Sonido <span>Basico</span></h2>
		<div>
			<%= form_tag root_path, method: :get do %>
				<%= text_field_tag :buscar ,params[:buscar], 
				:placeholder => 'Nombre de Artista o Canción...'%>
				<%= button_tag "Buscar", name: nil %>
			<% end %>		
		</div>	
	<% end %>	
</div>
