<div class="centro well">
	<h2>Sonido <span>Basico</span></h2>
	<div>
		<input type="text" placeholder="Nombre del Artista o Cancion">
		<button type="submit"><b class="icon-search icon-white"></b>buscar</button>
	</div>	
</div>
